<a href ='/bright_ideas'>Bright Ideas </a>
<h2>Name: <%= @user.name %></h2>
<h2>Alias: <%= @user.alias %></h2>
<h2>Email: <%= @user.email %></h2><hr>

<h3>Total Number of Posts: <%= @idea.count %></h3>
<h3>Total Number of Likes: <%= @likes.count %></h3>